<style>

body {
	background-color: #323030;
	padding-top: 76px;
}

.container-fluid {
	max-width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
  	min-height: 90vh;
	background-image: linear-gradient(#fffff0, #fffaf0);
}

.col-9 {
  flex: auto;
  max-width: 100%;
}

@media (min-height: 0px) and (max-height: 850px) {
	body {
		padding-top: 65px !important;
	}

	#container0 {
		min-height: 61px !important;
		max-height: 65px !important;
	}

	#navbar_brand_heading {
		top: -7px !important;
	}

	#navbar_image {
		width: 60px !important;
		height: 60px !important;
	}

	#navbar_image_label {
		top: 10.5px !important;
		left: 9px;
		font-size: 42px !important;
	}

	.form-control-lg {
		height: 37px;
		font-size: 1rem;
	}

	#container3 h3 {
		font-size: 1.4rem;
	}

	#container3 h4 {
		font-size: 1.28rem;
	}

	#container3 h5 {
		font-size: 1.15rem;
	}

	#container2 h3 {
		font-size: 1.4rem;
	}

	#container1 h3 {
		font-size: 1.4rem;
	}

	#container3 form {
		top: 0.7rem !important;
	}

	.form-control {
		margin-bottom: -5px;
	}

	::-webkit-scrollbar {
		width: 8px !important;
	}

	.bottom {
 		padding-bottom: 0.35rem !important;
	}

	.btn {
		height: 32px !important;
		font-size: 0.9rem;
		padding-top: 5px;
	}

	#graph_node_label {
	  max-width: 340px !important;
	  font-size: 0.8rem;
	}

	.col-container1 {
		max-width: 200px !important;
		font-size: 0.9rem !important;
	}

	.col-container2 {
		max-width: 200px !important;
	}

	.graph_url_list {
		width: 102% !important;
		padding-left: 10px !important;
	    font-size: 1.0rem !important;
	}
}

</style>
